botocore==1.22.12
click==8.0.3
confluent-kafka==1.7.0
Flask==2.0.2
itsdangerous==2.0.1
Jinja2==3.0.2
jmespath==0.10.0
MarkupSafe==2.0.1
mysqlclient==2.0.3
pynamodb==5.1.0
python-dateutil==2.8.2
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
